<div data-controller="jquery-to-dom">
  <button data-action="jquery-to-dom#trigger">Trigger jQuery event</button>
</div>

<br>

<div data-controller="dom-to-jquery">
  <button data-action="dom-to-jquery#trigger">Trigger DOM event</button>
</div>